<div class="container border p-5">
    <div class="d-flex justify-content-center">
        <h1>Atualizar Tabela de Experiência</h1>
    </div>
    <form [formGroup]="form">
        <div>
            <label for="title">Título</label>
            <input class="form-control" type="text" formControlName="title">
        </div>
        <div>
            <label for="exp">Expereiência</label>
            <input class="form-control" type="number" formControlName="exp">
        </div>
        <div>
            <label for="level">Level</label>
            <input class="form-control" type="number" formControlName="level">
        </div>
    </form>
    <br>
    <button (click)="update()" type="submit" class="btn btn-primary">Atualizar</button>
    <button class="btn" routerLink="/servers/{{ serverId }}/exptable">Cancelar</button>
</div>