<div class="card border">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Permissão</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.permission }}</td>
        <td>
          <button routerLink="" class="btn btn-info">Editar</button>
          <button routerLink="" class="btn btn-danger">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button routerLink="/users/create" class="btn btn-pimary">Adicionar Usuário</button>
</div>
