<div class="wrapper d-flex justify-content-center align-items-center">
  <div class="main-container">
    <app-breadcrump
      router="/items"
      first="Items"
      current="{{ editing ? 'Atualizar' : 'Adicionar' }} item"
    ></app-breadcrump>
    <div class="card">
      <span class="card-header bg-white">Dados do item</span>
      <form [formGroup]="form" class="">
        <div class="d-flex flex-column flex-md-row">
          <div class="col-md-8">
            <label for="name">Nome</label>
            <input
              formControlName="name"
              class="form-control"
              type="text"
              [ngClass]="applyErrCss('name')"
            />
            <app-error-msg
              [label]="'Nome'"
              [control]="form.get('name')"
            ></app-error-msg>
          </div>
          <div class="col-md-4">
            <label for="health">Vida</label>
            <input
              formControlName="health"
              class="form-control"
              type="number"
              [ngClass]="applyErrCss('health')"
            />
            <app-error-msg
              [label]="'Vida'"
              [control]="form.get('health')"
            ></app-error-msg>
          </div>
        </div>
        <div class="mt-md-4 d-flex mt-0">
          <div class="col-md-4">
            <label for="vest">Colete</label>
            <input
              formControlName="vest"
              class="form-control"
              type="number"
              [ngClass]="applyErrCss('vest')"
            />
            <app-error-msg
              [label]="'Colete'"
              [control]="form.get('vest')"
            ></app-error-msg>
          </div>
          <div class="col-md-4">
            <label for="experience">Experiência</label>
            <input
              formControlName="experience"
              class="form-control"
              type="number"
              [ngClass]="applyErrCss('experience')"
            />
            <app-error-msg
              [label]="'Experiência'"
              [control]="form.get('experience')"
            ></app-error-msg>
          </div>
          <div class="col-md-4">
            <label for="hungry">Fome</label>
            <input
              formControlName="hungry"
              class="form-control"
              type="number"
              [ngClass]="applyErrCss('hungry')"
            />
            <app-error-msg
              [label]="'Fome'"
              [control]="form.get('hungry')"
            ></app-error-msg>
          </div>
        </div>
        <div class="mt-md-4 d-flex">
          <div class="col-md-4">
            <label for="money">Dinheiro</label>
            <input
              formControlName="vest"
              class="form-control"
              type="number"
              [ngClass]="applyErrCss('money')"
            />
            <app-error-msg
              [label]="'Dinheiro'"
              [control]="form.get('money')"
            ></app-error-msg>
          </div>
          <div class="col-md-4">
            <label for="statusPoint">Status</label>
            <input
              formControlName="statusPoint"
              class="form-control"
              type="number"
              [ngClass]="applyErrCss('statusPoint')"
            />
            <app-error-msg
              [label]="'Status'"
              [control]="form.get('statusPoint')"
            ></app-error-msg>
          </div>
          <div class="form-check col-md-2">
            <label class="form-check-label pl-1 mb-1" for="isVirtual"
              >Virtual</label
            ><br />
            <toggler formControlName="isVirtual"></toggler>
          </div>
          <div class="form-check col-md-2">
            <label class="form-check-label pl-2 mb-1" for="isInitial"
              >Inicial</label
            ><br />
            <toggler formControlName="isInitial"></toggler>
          </div>
        </div>
      </form>
      <div
        class="bg-white card-footer d-flex justify-content-end align-items-center"
      >
        <div class="">
          <button routerLink="/items" class="btn btn-light">Voltar</button>
          <button
            (click)="editing ? openModal() : onSubmit()"
            class="btn btn-primary"
          >
            {{ editing ? "Atualizar" : "Adicionar" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
