<div class="container border p-5">
    <h1>Deletar Usuário</h1>
    <form>
        <div>
            <label for="name">Nome</label>
            <input class="form-control" type="text" [(ngModel)]="user.name" name="name" disabled>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input class="form-control" type="email" [(ngModel)]="user.email" name="email" disabled>
        </div>
        <label for="permission">Nível de Permissão</label>
        <select class="form-select form-control" aria-label="permission" [(ngModel)]="user.permission" name="permission" disabled>
        <option selected value="0">Moderador</option>
        <option value="1">Administrador</option>
        <option value="2">Administrador Global</option>
      </select>
    </form>
    <br>
    <button (click)="delete(user.id)" type="submit" class="btn btn-danger">Deletar Usuário</button>
    <button class="btn" routerLink="/users">Cancelar</button>
</div>