<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Selecione um servidor</h1>
    </div>

    <table class="table table-striped">
        <thead class="">
        </thead>
        <tbody>
            <tr *ngFor="let server of servers">
                <div class="d-flex justify-content-center">
                    <a routerLink="" (click)="setServer(server)">
                        <td>{{ server.name }}</td>
                    </a>
                </div>

            </tr>
        </tbody>
    </table>
    <!-- <div class="d-flex justify-content-center">
        <button routerLink="/servers/create" class="btn btn-primary">Adicionar Servidor</button>
    </div> -->
</div>
