<div class="background d-flex justify-content-center align-items-center">
  <div class="login">
    <div class="d-flex justify-content-center bg-title">
      <!-- <img src="/assets/icons/sword2.svg" alt="sword2" class="sword" /> -->
      <span>Login</span>
    </div>
    <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="class-input">
        <label for="email">E-mail</label>
        <input
          [ngClass]="applyErrCss('email')"
          class="form-control"
          formControlName="email"
          type="text"
        />
        <app-error-msg
          [label]="'Email'"
          [control]="form.get('email')"
        ></app-error-msg>
      </div>
      <div class="class-input">
        <!-- <app-input-field
          [cssClass]="applyErrCss('password')"
          [control]="form.get('password')"
          label="Senha"
          type="password"
          formControlName="password"
        ></app-input-field> -->
        <label for="password">Senha</label>
        <input
          class="form-control"
          formControlName="password"
          type="password"
          [ngClass]="applyErrCss('password')"
        />
        <div class="d-block invalid-feedback" *ngIf="passwordInvalid">
          E-mail ou senha inválida.
        </div>
        <app-error-msg
          [label]="'Senha'"
          [control]="form.get('password')"
        ></app-error-msg>
      </div>

      <div class="form-check class-checkinput">
        <input
          type="checkbox"
          class="form-check-input check-input"
          color="info"
          formControlName="remidme"
          data-onstyle="info"
        />
        <label for="remind-me" class="form-check-label">Lembrar-me</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
  </div>
</div>
