<div class="background">
  <div class="login">
    <div class="d-flex justify-content-center bg-sword">
      <img src="/assets/icons/sword2.svg" alt="sword2" class="sword" />
    </div>
    <form class="" [formGroup]="form" (ngSubmit)="submit()">
      <div class="class-input">
        <label for="email">E-mail</label>
        <input
          [ngClass]="{ 'is-invalid': submitted && hasError('email') }"
          class="form-control"
          formControlName="email"
          type="text"
        />
        <div
          class="invalid-feedback"
          *ngIf="hasError('email') && hasError('password')['required']"
        >
         Email é obrigatório.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="hasError('email') && hasError('email')['email']"
        >
          Email inválido.
        </div>
        <!-- <app-error-msg [control]="form.get('email')"></app-error-msg> -->
      </div>
      <div class="class-input">
        <label for="password">Senha</label>
        <input
          class="form-control"
          formControlName="password"
          type="password"
          [ngClass]="{ 'is-invalid': submitted && hasError('password') }"
        />
        <div
          class="invalid-feedback"
          *ngIf="hasError('password') && hasError('password')['required']"
        >
         Senha é obrigatório.
        </div>
      </div>

      <div class="form-check class-checkinput">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="remidme"
        />
        <label for="remind-me" class="form-check-label">Lembrar-me</label>
      </div>
      <br />
      <button type="submit" class="btn w-100">Entrar</button>
    </form>
  </div>
</div>
