.background {
    margin: 0;
    height: 100%;
    background-image: url("/assets/img/fundo.jpg");
    background-repeat: round;
}

.login {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 650px;
    left: 200px;
    top: 144px;
    background: #ffffff;
    padding: 65px 65px 100px;
}

.sword {
    width: 116.25px;
    height: 113.44px;
}

.form-control {
    border-radius: 6px;
}

label {
    font-size: 14px;
    font-weight: 16px;
    color: #707A84;
}

.btn {
    color: white;
    background-color: #5CB85C;
    border-radius: 6px;
}

@media (max-width: 1440px) {
    .background {
        background-repeat: none;
    }
}

@media (max-width: 920px) {
    .background {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login {
        left: auto;
        top: auto;
    }
}

@media (max-height: 900px) {
    .background {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login {
        left: auto;
        top: auto;
    }
}

@media (max-width: 520px) {
    .login {
        padding: 50px 35px;
    }
}