<div class="wrapper d-flex justify-content-center align-items-center">
  <div class="main-container">
    <!-- <app-breadcrump
      router="/users"
      first="Usuário"
      current="{{ editing ? 'Atualizar' : 'Adicionar' }} usuário"
    ></app-breadcrump> -->
    <div class="card">
      <span class="card-header bg-white">Configurações do Servidor</span>
      <form [formGroup]="form" class="">
        <div class="d-flex flex-column flex-md-row">
          <div class="col-md-8">
            <label for="">Nome</label>
            <input
              formControlName="name"
              class="form-control"
              type="text"
              [ngClass]="applyErrCss('name')"
            />
            <app-error-msg
              [label]="'Nome'"
              [control]="form.get('name')"
            ></app-error-msg>
          </div>
          <div class="col-md-4">
            <label for="">Pontos de status inicial</label>
            <input
              formControlName="initialStatsPoints"
              class="form-control"
              type="number"
              [ngClass]="applyErrCss('initialStatsPoints')"
            />
            <app-error-msg
              [label]="'Pontos de status inicial'"
              [control]="form.get('initialStatsPoints')"
            ></app-error-msg>
          </div>
        </div>
        <div class="mt-md-5 d-flex flex-column flex-md-row">
          <div class="col-md-4">
            <label for="">Dinheiro inicial</label>
            <input
              formControlName="initialMoney"
              class="form-control"
              type="number"
              [ngClass]="applyErrCss('initialMoney')"
            />
            <app-error-msg
              [label]="'Dinheiro inicial'"
              [control]="form.get('initialMoney')"
            ></app-error-msg>
          </div>
          <div class="d-flex justify-content-around col-md-4">
            <div class="form-check">
              <label class="form-check-label pl-1 mb-1" for="hasDisease"
                >Debuffs</label
              ><br />
              <toggler formControlName="hasDisease"></toggler>
            </div>
            <div class="form-check">
              <label class="form-check-label pl-1 mb-1" for="shared"
                >Compartilhado</label
              ><br />
              <toggler formControlName="shared"></toggler>
            </div>
          </div>
        </div>
      </form>
      <div
        class="bg-white card-footer d-flex justify-content-end align-items-center"
      >
        <div class="">
          <button routerLink="/" class="btn btn-light">Voltar</button>
          <button
            (click)="editing ? openModal() : onSubmit()"
            class="btn btn-primary"
          >
            {{ editing ? "Salvar" : "Adicionar" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
