<nav class="navbar navbar-dark bg-secondary">
    <a class="navbar-brand" routerLink="/users">Usuários</a>
    <a class="navbar-brand" routerLink="/items">itens</a>
    <a class="navbar-brand" routerLink="/exp-machines">Máquina de experiência</a>
    <a class="navbar-brand" routerLink="/jobs">Jobs</a>
    <a class="navbar-brand" routerLink="/avatar">Avatar</a>
    <a class="navbar-brand" routerLink="/disease">Doença</a>

    <div ngbDropdown>
        <button class="navbar-brand btn" ngbDropdownToggle>Servidor: <strong>{{ server.name }}</strong> </button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/servers/profile/{{ server.id }}">Detalhes</button>
            <button *ngIf="user.permission > 1" ngbDropdownItem routerLink="/servers">Trocar</button>
            <button *ngIf="user.permission > 1" ngbDropdownItem routerLink="/servers/create">Adicionar</button>
            <hr>
            <button ngbDropdownItem (click)="logout()">Sair</button>
        </div>
    </div>
</nav>