<nav class="navbar navbar-dark bg-secondary">
    <a class="navbar-brand" routerLink="/users">Usuários</a>
    <a class="navbar-brand" routerLink="">itens</a>
    <a class="navbar-brand" routerLink="">Máquina de experiência</a>
    <a class="navbar-brand" routerLink="">Avatar</a>

    <div ngbDropdown>
        <button class="navbar-brand btn" ngbDropdownToggle>Servidor selecionado: <strong>{{ server.name }}</strong> </button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/servers/profile/{{ server.id }}">Detalhes</button>
            <button ngbDropdownItem routerLink="/servers">Trocar</button>
            <button ngbDropdownItem routerLink="/servers/create">Adicionar</button>
            <hr>
            <button ngbDropdownItem (click)="logout()">Sair</button>
        </div>
    </div>
</nav>