<div class="wrapper d-flex justify-content-center align-items-center">
  <div>
    <div
      class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-2 mb-md-4"
    >
      <div class="card group-title mb-2 mb-md-0 mr-md-4">
        <i class="fas fa-ellipsis-h"></i>
        <div class="d-flex align-items-center h-100">
          <img src="./assets/icons/user.svg" alt="" />
          <div>
            <span class="">{{ users.length }}</span>
            <p class="card-text">Usuários</p>
          </div>
        </div>
      </div>
      <div class="card group-title mb-2 mb-md-0 mr-md-4">
        <i class="fas fa-ellipsis-h"></i>
        <div class="d-flex align-items-center h-100">
          <img src="./assets/icons/swordIcon.svg" alt="" />
          <div>
            <span class="">{{ server.availableItems.length }}</span>
            <p class="card-text">Items disponíveis</p>
          </div>
        </div>
      </div>
      <div class="card group-title mb-2 mb-md-0 mr-md-4">
        <i class="fas fa-ellipsis-h"></i>
        <div class="d-flex align-items-center h-100">
          <img src="./assets/icons/hammer.svg" alt="" />
          <div>
            <span class="">{{ jobs.length }}</span>
            <p class="card-text">Profissões</p>
          </div>
        </div>
      </div>
      <div class="card group-title">
        <i class="fas fa-ellipsis-h"></i>
        <div class="d-flex align-items-center h-100">
          <img src="./assets/icons/skull.svg" alt="" />
          <div>
            <span class="">{{ diseases.availableDisease.length }}</span>
            <p class="card-text">Debuffs</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center mb-2 mb-md-4"
    >
      <div class="card avatar-body mb-2 mb-md-0 mr-md-4"></div>
      <div class="card exp-machine"></div>
    </div>
    <div
      class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center"
    >
      <div class="card options mb-2 mb-md-0 mr-md-4">
        <span class="pl-4 card-title card-header bg-white">Configurações</span>
        <table class="table table-borderless ml-2 mt-2">
          <tbody>
            <tr>
              <td width="55%">
                <div class="d-flex align-items-start">
                  <img src="./assets/icons/hands.svg" />
                  <p class="ml-3">Pontos de status iniciais</p>
                </div>
              </td>
              <td>
                <span>{{ server.initialStatsPoints }}</span>
              </td>
            </tr>
            <tr>
              <td width="55%">
                <div class="d-flex align-items-start">
                  <img src="./assets/icons/dollar.svg" />
                  <p class="ml-3">Dinheiro inicial</p>
                </div>
              </td>
              <td>
                <span>{{ server.initialMoney }}</span>
              </td>
            </tr>
            <tr>
              <td width="55%">
                <div class="d-flex align-items-start">
                  <img src="./assets/icons/lock.svg" />
                  <p class="ml-3">Compartilhado</p>
                </div>
              </td>
              <td>
                <span>{{ server.shared ? "Sim" : "Não" }}</span>
              </td>
            </tr>
            <tr>
              <td width="55%">
                <div class="d-flex align-items-start">
                  <img src="./assets/icons/risk-skull.svg" />
                  <p class="ml-3">Debuffs</p>
                </div>
              </td>
              <td>
                <span>{{ server.hasDisease ? "Sim" : "Não" }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card ranking">
        <span class="pl-4 card-title card-header bg-white"
          >Ranking de experiência</span
        >
        <table class="table table-borderless ml-2 mt-2">
          <tbody>
            <tr>
              <td width="43%">
                <div class="d-flex align-items-center">
                  <img src="./assets/icons/trophy-gold.svg" />
                  <span class="ml-3">Avatar name1</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <img src="./assets/icons/star-gold.svg" />
                  <span class="ml-3">1.000.000</span>
                </div>
              </td>
            </tr>
            <tr>
              <td width="43%">
                <div class="d-flex align-items-center">
                  <img src="./assets/icons/trophy-silver.svg" />
                  <span class="ml-3">Avatar name1</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <img src="./assets/icons/star-silver.svg" />
                  <span class="ml-3">100.000</span>
                </div>
              </td>
            </tr>
            <tr>
              <td width="43%">
                <div class="d-flex align-items-center">
                  <img src="./assets/icons/trophy-bronze.svg" />
                  <span class="ml-3">Avatar name1</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <img src="./assets/icons/star-bronze.svg" />
                  <span class="ml-3">1.000</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
