<div class="d-flex justify-content-center">
    <div class="card text-center w-50">
        <div class="card-header">
            <h1>Detalhes do Servidor</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Nome: {{ server.name }}</h5>
            <p class="card-text">Doença disponível: {{ server.availableDisease == true ? 'Sim' : 'Não' }}</p>
            <p class="card-text">Dinheiro inicial: {{ server.initialMoney }}</p>
            <p class="card-text">Pontos de status iniciais: {{ server.initialStatsPoints }}</p>
            <p class="card-text">Compartilhado: {{ server.shared == true ? 'Sim' : 'Não' }}</p>
            <p routerLink="/servers/{{ server.id }}/parcels" class="card-text btn btn-outline-info">Pacotes: {{ server.parcels ? server.parcels.length : '0' }}</p>
            <br>
            <p routerLink="/servers/{{ server.id }}/availableitems" class="card-text btn btn-outline-info">Items disponíveis: {{ server.availableItems ? server.availableItems.length : '0' }}</p>
            <br>
            <p routerLink="/servers/{{ server.id }}/exptable" class="card-text btn btn-outline-info">Tabelas de experiência: {{ server.expTable ? server.expTable.length : '0' }}</p>
            <br>
            <!-- <p>
                <button type="button" class="btn btn-outline-primary" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample">
                  Itens disponíveis
                </button>
            </p>
            <div class="mb-3" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                <ng-container *ngIf="server.availableItems.length >= 1; else else1 ">
                    <div class="card" *ngFor="let item of server.availableItems">
                        <div class="card-body">
                            {{ item.name }}
                        </div>
                    </div>
                </ng-container>

                <ng-template #else1>Nenhuma item disponível</ng-template>
            </div>
            <p>
                <button type="button" class="btn btn-outline-primary" (click)="collapse2.toggle()" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample">
                  Tabela de experiência
                </button>
            </p>
            <div class="mb-3" #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
                <ng-container *ngIf="server.expTable.length >= 1; else else2 ">
                    <div class="card" *ngFor="let exp of server.expTable">
                        <div class="card-body">
                            {{ exp.title }}
                        </div>
                    </div>
                </ng-container>
                <ng-template #else2>Nenhuma tabela de experiência disponível</ng-template>
            </div>
            <p>
                <button type="button" class="btn btn-outline-primary" (click)="collapse3.toggle()" [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseExample">
                  Pacotes
                </button>
            </p>
            <div class="mb-3" #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3">
                <ng-container *ngIf="server.parcels >= 1; else else3 ">
                    <div class="card" *ngFor="let parcel of server.parcels">
                        <div class="card-body">
                            {{ parcel }}
                        </div>
                    </div>
                </ng-container>

                <ng-template #else3>Nenhum pacote disponível</ng-template>
            </div> -->

            <button routerLink="/servers/edit/{{ server.id }}" class="btn btn-primary">Editar este servidor</button>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>