<div class="container border p-5">
    <div class="d-flex justify-content-center">
        <h1>Atualizar Servidor</h1>
    </div>
    <form>
        <div>
            <label for="name">Nome</label>
            <input class="form-control" type="text" [(ngModel)]="server.name" name="name" #name="ngModel">
        </div>
        <div>
            <label for="initialMoney">Dinheiro inicial</label>
            <input class="form-control" type="number" [(ngModel)]="server.initialMoney" name="initialMoney" #initialMoney="ngModel">
        </div>
        <div>
            <label for="initialStatsPoints">Pontos de status iniciais</label>
            <input class="form-control" type="number" [(ngModel)]="server.initialStatsPoints" name="initialStatsPoints" #initialStatsPoints="ngModel">
        </div>
        <div>
        </div>

        <div class="mt-3">
            <label class="mr-5" for="shared">Compartilhado</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" [value]="true" [(ngModel)]="server.shared" name="shared" #shared="ngModel">
                <label class="form-check-label pr-5" for="shared">Sim</label>
                <input class="form-check-input" type="radio" [value]="false" [(ngModel)]="server.shared" name="shared" #shared="ngModel">
                <label class="form-check-label" for="shared">Não</label>
            </div>
        </div>
        <div class="mt-3">
            <label class="mr-5" for="hasDisease">Doença</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" [value]="true" [(ngModel)]="server.hasDisease" name="hasDisease" #hasDisease="ngModel">
                <label class="form-check-label pr-5" for="shared">Sim</label>
                <input class="form-check-input" type="radio" [value]="false" [(ngModel)]="server.hasDisease" name="hasDisease" #hasDisease="ngModel">
                <label class="form-check-label" for="shared">Não</label>
            </div>
        </div>
        <div class="mt-4">
            <!-- <label for="parcels">Pacotes</label> -->
        </div>
    </form>
    <br>
    <button (click)="update()" type="submit" class="btn btn-primary">Atualizar</button>
    <button class="btn" routerLink="/servers/profile/{{ serverId }}">Cancelar</button>
</div>